<footer class="container-fluid bg-powderblue fixed-bottom m-b-10">
	<div class="row gy-1">
		<section class="col-12 col-md-4">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Gesflot 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
		</section>
		<section class="col-12 col-md-4">Colonne 2</section>
		<section class="col-12 col-md-4">Colonne 3</section>
	</div>
</footer>
