<footer class="container-fluid bg-powderblue">
	<div class="flex-container">
		<section class="col-md-12">Colonne 1</section>
		<section class="col-md-12">Colonne 2</section>
		<section class="col-md-12">Colonne 3</section>
	</div>
</footer>
