{% extends 'base_manager.html.twig' %}

{% block title %}Hello ManagerController!
{% endblock %}

{% block body %}
	<!-- Content -->

	<div id="layoutSidenav_content">

		<main>
			<div class="container-fluid px-4">
				<p>Manager content</p>
			</div>
		</main>
	</div>
{% endblock %}
